@media screen and(min-width: 700px) {
  #header {
    padding: 3% 9%;

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 500px;
      margin: 5px 0 5px 0px;

      &-item {
        text-decoration: none;
        cursor: pointer;
      }
      &-link {
        text-decoration: none;
        text-transform: uppercase;
        color: map-get($map: $color, $key: light-grayish-blue);
        letter-spacing: 1px;
        font-weight: 700;
        &:hover {
          color: map-get($map: $color, $key: vdark-violet);
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
  .navigation-mobile {
    display: none;
  }
  #section1 {
    &::before {
      content: "";
      width: 435px;
      height: 600px;
      background-image: map-get($map: $bg, $key: desk);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      background-position: 0px -70px;
      background-repeat: no-repeat;
    }
    &:after {
      content: "";
      width: 200px;
      height: 500px;
      background-image: url(../img/bg-pattern-intro-left-desktop.svg);
      position: absolute;
      left: 0;
      top: 410px;
      z-index: 2;
      background-repeat: no-repeat;
    }
    .mobile-image {
      display: none;
    }
    .desktop-image {
      display: inline-block;
      margin-top: 17%;
      position: absolute;
      right: 9%;
      width: 370px;
    }
    .content {
      padding: 100px 9%;
      background-image: none;
      margin-top: 0;
      .line {
        display: inline-block;
        width: 150px;
        border: 1px solid white;
        position: absolute;
        left: 10%;
      }
      h1 {
        font-size: 4vw;
        margin-top: 70px;
        text-align: start;
      }
      p {
        width: 34%;
        text-align: start;
        font-size: 16px;
      }
      .btn {
        margin: 0;

        .mobile {
          margin: auto;
        }
      }
    }
  }
  #section2 {
    margin-top: 300px;
    text-align: unset;

    .main-section-line {
      margin: 0;
    }
    h2 {
      font-size: 90px;
    }
    .details {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .process {
        margin-top: 50px;

        h3 {
          font-size: 30px;
        }
        p {
          width: 350px;
          margin: 0;
          font-size: 16px;
        }
      }
    }
    .work {
      padding: 65px 100px;
      display: flex;
      background-image: url(../img/bg-pattern-how-we-work-desktop.svg);
      justify-content: space-between;
      align-items: center;
      background-position: top right;

      h2 {
        font-size: 3vw;
        margin: 0;
        width: 50%;
        line-height: 60px;
      }
      .button {
        margin: 0;
        width: 150px;
        .works {
          font-size: 13px;
        }
      }
    }
  }
  #footer {
    background-image: url(../img/bg-pattern-footer-desktop.svg);

    .first-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: start;

      .social {
        margin: 0;
      }
    }
    .about-us {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      .about {
        margin-left: 100px;
        h4 {
          text-align: start;
        }
        .footer-links {
          text-align: start;
        }
      }
    }
  }
}
@media screen and(min-width: 1330px) {
  #header {
    padding: 1% 4%;
  }
  #section1 {
    .desktop-image {
      width: 30%;
      margin-top: 7%;
    }
    .content {
      h1 {
        font-size: 60px;
      }
      p {
        width: 550px;
      }
    }
  }
  #section2 {
    .work {
      h2 {
        font-size: 60px;
        width: 530px;
      }
    }
  }
  #footer {
    .about-us {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .about {
        margin: 0;
      }
    }
  }
}
